@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.swiper-slide {
  /* background-position: center; */
  background-size: cover;
  object-fit: fill;
  /* z-index: 1; */
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
}

nav{

  z-index: 9999999 !important;
}
